
body {
  margin: 0;
  padding: 0;
}

.background {
  position: absolute;
  z-index: 0;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  opacity: .8;
}


.container{
   position: absolute;
   top: 50%;
   margin-top: -250px;
   left: 0;
   width: 100%;
}

#month {
  margin: 0 auto;
  border: 1px solid black;
  text-align: center;
  border-collapse: collapse;
  width: 84%;
   margin-left: auto;
   margin-right: auto;
   height: 450px;
  background-color: rgba(255, 255, 255, 0.5);


}



th {
  color: black;
  font-size: 2em;
}

td {
  border: 1px solid black;
  height: 60px;
  width: 12%;
}

.hoverable td:hover {
  color: white;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

.month tr:nth-child(2) {
  background-color: rgba(208,32,144, .1);
}



.month tr:nth-child(2) td {
  height: 30px;
}


#day {
  z-index: 1;
  background-color: white;
  width: 100%;
  height: 100%;
  background-color: rgba(208,32,144, .1);
  color: white;
}

#day td {
  height: 120px;
}

.daycontainer {
  position: absolute;
  display: none;
  border: 2px solid pink;
  width: 25%;
  left: 70%;
  overflow: scroll;
  height: 500px;
}

#myCanvas {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 3020px;
  top: 0;
  left: 0;
}

button {
  z-index: 1;
  position: absolute;
  display: none;
  width: 55%;
  height: 50px;
  background-color: rgba(208,32,144, .1);
  left: 7.5%;
  top: 82%;
  color: white;
  font-size: 2em;

}


/*/////////////     MEDIA QUERIES       //////////////////*/

@media (max-height:  1200px) {
 button{
  top: 67%;
 }
 }

@media (max-height:  1080px) {
 button{
  top: 67%;
 }
 }

@media (max-height:  1050px) {
 button{
  top: 70%;
 }
 }

@media (max-height:  900px) {
 button{
  top: 72%;
 }
 }

@media (max-height:  800px) {
 button{
  top: 74%;
 }
 }

@media (max-height:  768px) {
 button{
  top: 75%;
 }
 }

@media (max-height:  600px) {
button{
  top: 82%;
}
}
