body {
  margin: 0;
  padding: 0;
  background-image: url('images/ocean.jpg')
}

.background {
  position: absolute;
  z-index: 0;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  opacity: .8;
}


.container{
   position: absolute;
   top: 50%;
   margin-top: -250px;/* half of #content height*/
   left: 0;
   width: 100%;
}

#month {
  margin: 0 auto;
  border: 1px solid black;
  text-align: center;
  border-collapse: collapse;
  width: 84%;
   margin-left: auto;
   margin-right: auto;
   height: 450px;
  background-color: rgba(255, 255, 255, 0.5);


}



th {
  color: black;
  font-size: 2em;
}

td {
  border: 1px solid black;
  height: 60px;
  width: 12%;
}

.month tr:nth-child(2) {
  background-color: rgba(208,32,144, .1);
}

.month tr:nth-child(2) td {
  height: 30px;
}


#day {
  z-index: 1;
  background-color: white;
  width: 100%;
  height: 100%;
  background-color: rgba(208,32,144, .1);
  color: white;
}

#day td {
  height: 120px;
}

.daycontainer {
  position: absolute;
  display: none;
  border: 2px solid pink;
  width: 25%;
  left: 70%;
  overflow: scroll;
  height: 500px;
}

#myCanvas {
  position: absolute;
  border: 2px solid green;
  z-index: 1;
  width: 100%;
  height: 3100px;
  top: 0;
  left: 0;
}





